@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-dark" href="/CreateTopic" role="button">Create a To do</a>
                <hr />
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Head Line
                </th>
                <th>
                    Create Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Topic)
            {

                <tr>
                    <td>
                        <a asp-page="./SingleTopic" asp-route-id="@item.TopicID">@Html.DisplayFor(modelItem => item.HeadLine)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
